
<!-- Navbar -->
<nav class="navbar sticky-top bg-dark navbar-expand-lg">

    <div class="container-fluid">
        <a routerLink="/sign-in" class="navbar-brand text-light">
            <i class="bi bi-receipt"></i> Facturas admin
        </a>
    </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="bg-dark text-light py-4 mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Made by.</p>
                <p>Ronald Castro T. © 2025</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="https://www.linkedin.com/in/ronaldtro/" style="text-decoration: none;" class="text-light me-3">
                    <i class="bi bi-linkedin"></i> Linkedin
                </a>
                <a href="https://github.com/ronaldtro" style="text-decoration: none;" class="text-light me-3">
                    <i class="bi bi-github"></i> Github
                </a>
                <span class="text-light"> <i class="bi bi-telephone"></i> +573137395166</span>
            </div>
        </div>
    </div>
</footer>